<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="ElCafé Admin"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".profile"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".AddressMap"
            android:theme="@style/AppTheme3" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA3i33SB95SuSd5jKQPFyaqY0OeCBKWXWM" />

        <activity
            android:name=".Orders"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".Check_orders"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".forgotPassword"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".reset"
            android:theme="@style/AppTheme4"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Dashboard"
            android:theme="@style/SplashViewTheme" />
        <activity
            android:name=".Verification"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".newAccount"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".signIn"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Login"
            android:theme="@style/SplashViewTheme" />
        <activity
            android:name=".Admin_MainActivity"
            android:theme="@style/SplashViewTheme1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="Your API Key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <service android:name=".notificationService"
            android:enabled="true"
            android:exported="true"
           />
    </application>

</manifest>
